table,th,td{
    border:4px solid blue;
    padding:20px;
    border-collapse: collapse;/*common border for the table*/
}
.empty-cell-table{
    empty-cells: hide;
}
/*ODD-EVEN TABLE*/
.odd-even-table tr:nth-child(odd){/*count box from box 1 include header also */
    background-color: red;
}
.odd-even-table tr:nth-child(even){
    background-color: green;
}
.odd-even-table tr:hover{
    background-color: yellow;
}
.odd-even-table th{
    background-color: blue;
}
.odd-even-table>caption{
    color:grey;
    font-weight: bold;
    caption-side: bottom;/*top|bottom|block-start|block-end|inline-start|inline-end*/
}
.odd-even-table td{
    height:100px;
    vertical-align: middle;/* baseline|sub|super|text-top|text-bottom|middle|top|bottom|*/
}